@import "materialize/components/color-variables";
@import "materialize";
@import "material_icons";

.brand-logo img {
    height: 60px;
    margin-top: 2px;
}

i{
  cursor: pointer;
}

.toast-warning{
	background-color: #ffab40;
}


.toast-error{
	background-color: #ef5350;
}

.toast-success{
	background-color: #43a047;
}

.jumbotron {
	background-image: url('https://s3.amazonaws.com/etsydemo05/images/jumbotron.jpg');
	background-color: #F0F0F0;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;

	h1, h2 {
		font-family: guardian-egyptt, georgia, serif;
		color: #FFFFFF;
	}

	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 40px;
	}

}

.etsynav {
	background-color: #3D5B7F;
}

.etsyfooter {
	background-color: #E2CFAC;

	p, h5 {
		color: #3D5B7F;
	}
}