@import "materialize/components/color-variables";
@import "materialize";
@import "material_icons";

.brand-logo img {
    height: 60px;
    margin-top: 2px;
}

i{
  cursor: pointer;
}

.toast-warning{
	background-color: #ffab40;
}


.toast-error{
	background-color: #ef5350;
}

.toast-success{
	background-color: #43a047;
}

