<footer class="page-footer etsyfooter">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Jeff  Bio</h5>
        <p>Software Engineer with more than 15 years in software developments. Passed through roles like Senior Development, Scrum Master, Project Manager, Senior Program Mgr. Passionate with the next decades coming, disruptive mindset overall entrepreneurship, sociology, antropology and travels.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">About me</h5>
        <ul>
          <li><a class="white-text" href="https://www.linkedin.com/in/jefferson-cunha-111a626/" target="_blank">Linkedin</a></li>
          <li><a class="white-text" href="https://github.com/jwcunhagit" target="_blank">GitHub</a></li>
          <li><a class="white-text" href="https://instagram.com/jwcunha" target="_blank">Instagram</a></li>
          <li><a class="white-text" href="https://twitter.com/jwcunha">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>