<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href=<%= root_path %> class="brand-logo">
			<%= image_tag("https://s3.amazonaws.com/etsydemo05/etsy_demo.png", :class => "brand-logo") %>
		</a>
		<ul class="right hide-on-med-and-down">
			<li>
				<%= link_to pages_contact_url do%>
				<i class="material-icons">contact_mail</i>
				<% end %>
			</li>
			<li>
				<%= link_to pages_about_url do%>
				<i class="material-icons">info</i>
				<% end %>
			</li>
		</ul>
	</div>
</nav>